.Ready-section{
    background-color: #59acff;
    color: white;
    padding: 90px 60px ;
    text-align: center;
}

.Ready-section h1{
    margin-bottom: 20px;
}

.Ready-section button{
    margin-top: 20px;
    padding: 14px 25px;
    background-color:#0066CC;
    color: white;
    font-size: 16px;
    font-weight: bold ;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    border: white;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.Ready-section button:hover{
    background-color: white;
    color: #0066CC;
    font-weight: bold ;
}