.features-section{
    margin: 80px auto;
    width: 90%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    text-align: center;
}

.feature-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-card{
    flex: 1 1 calc(33.33% - 20px);
    background: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.feature-card img{
    width: 50px;
    display: block;
    margin: 0 auto 1rem;
    /* border-radius: 50%; */
    /* margin-right: 10px; */
}

.feature-card h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: inherit;
}

.feature-card p{
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
}

.feature-card:hover{
    transform: translateY(-8px);
    background: #c7e4f8;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}


/* Media Query */
@media(max-width: 900px){
    .feature-card{
        flex: 1 1 calc(50% - 20px);
    }
}
@media(max-width: 600px){
    .feature-card{
        flex: 1 1 100%;
    }
}